.about-section {
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    @media (min-width:$pc) {
        flex-wrap: nowrap;
        gap: 30px;
        padding: 120px 0;
    }

    .col-left {
        display: flex;
        flex-direction: column;
        flex: 1 0 0;
        min-width: 288px;
        order: 1;

        @media (min-width:$mobileSmall) {
            min-width: 400px;
        }


        @media (min-width:$pc) {
            order: 0;
            width: 100%;
            max-width: 495px;
            flex: none;
        }
    }

    .col-right {
        display: flex;
        flex-direction: column;
        flex: 1 0 0;
        min-width: 288px;

        @media (min-width:$mobileSmall) {
            min-width: 400px;
        }

        @media (min-width:$pc) {
            width: calc(100% - 495px);
        }
    }

    .text-holder {
        font-size: 16px;

        @media (min-width:$pc) {
            font-size: $fontSize;
        }

        p {
            margin: 0;

            &:not(:last-child) {
                margin-bottom: 16px;

                @media (min-width:$pc) {
                    margin-bottom: 30px;
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 24px;

            @media (min-width:$pc) {
                margin-bottom: 39px;
            }
        }
    }

    .section-title {
        &:not(:last-child) {
            margin-bottom: 16px;

            @media (min-width:$pc) {
                margin-bottom: 30px;
            }
        }
    }

    .link {
        &:hover {
            &::before {
                background-color: $greenHover;
            }
        }

        &::before {
            content: '';
            background-color: $green;
            position: absolute;
            bottom: -20px;
            left: 0;
            width: 100%;
            height: 1px;
            pointer-events: none;
            transition: background 0.4s;
        }

        &:not(:last-child) {
            margin-bottom: 62px;
        }
    }

    .image-holder {
        line-height: 0;
        margin-top: auto;

        @media (min-width:$pc) {}

        &:not(:last-child) {
            margin-bottom: 16px;

            @media (min-width:$pc) {
                margin-bottom: 10px;
            }
        }

        img {
            width: 100%;
            object-fit: cover;
        }
    }

}