.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .swiper-pagination-bullet {
        width: 10px;
        height: 2px;
        background-color: rgba(44, 44, 54, 0.60);
        transition: width 0.6s, background 0.4s;
        border-radius: 0!important;
        margin: 0!important;
        
        &.swiper-pagination-bullet-active {
            background-color: $green;
            width: 37px;
        }
    }
}