$white: #fff;
$black: #000;
$green: #1E836B;
$greenHover: #00b98e;
$text: #2C2C36;
$bgGray: #F6F6F6;

$baseFont:  "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$fontSize: 18px;

$pc: 1261.98px; 
$tablet: 991.98px; 
$mobile: 767.98px; 
$mobileSmall: 479.98px;